@font-face {
    font-family: 'tuffybold-italic';
    src: url('tuffy_bold_italic-webfont.woff2') format('woff2'),
         url('tuffy_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.name{
    text-align: center;
    width: 0 auto;
    top: 50px;
    position: relative;
}
.logo{
    height: 80px;
    width: 80px;
    padding: 0px 15px 0px;
}
a:link{
    color:grey;
}
a:visited{
    color:white;
}
a:hover{
    color:rgb(11, 236, 11); 
}
a:active{
    color:violet;
}
.href{
    text-align: right;
    margin: right 40px;
}
.wrapper{
    max-width: 1024px;
    margin: 0 auto;
    background:whitesmoke;
}
.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    background:  rgb(190, 140, 157);
}
.menu-item{
    float: left;
    padding: 10px 60px;
}
.clear{
    clear: both;
}
.left-panel{
    height: 600px;
    float: left;
}
.upright{
    width: 210px;
    padding: 10px 20px;
    background: rgb(190, 140, 157);
}
.picture{
    width: 300px;
    float: right;
}
.title{
    text-align: center;
}
.text{
    font-family:'tuffybold-italic';
    font-size: 20px;
    font-weight: 100;
}
.list{
    list-style-position: inside;
    list-style-type: circle;
}
.box-img{
    width: 130px;
    padding: 20px 20px 0px 40px;
    float: left;
}
.box{
    width: 280px;
    float: left;
}
.footer-menu a:link{
    color:gray;
}
.footer-menu a:visited{
    color:gray;
}
.footer-menu a:hover{
    color:rgb(11, 236, 11); 
}
.footer-menu a:active{
    color:violet;
}
.copyright{
    color:grey;
    padding:70px 0 0 0;
}
