
.box{
    width: 1000px;
    height: 800px;
    /*background-repeat: none;*/
    background: url(fon.jpg);
    position: relative;
}
.clock{
    width: 240px;
    height: 240px;
    position: fixed;
    top: 40px;
    left: 180px;
}
.laptop{
    width: 400px;
    height: 450px;
    position: absolute;
    top: 330px;
    left: 320px;
    z-index: 2;
}
.cup{
    width: 145px;
    height: 145px;
    position: absolute;
    top: 580px;
    left: 680px;
    z-index: 3;
}
.cats{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 40px;
    left: 620px;
}
.rat{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 550px;
    left: 875px;
}
.phone{
    width: 220px;
    height: 160px;
    position: absolute;
    top: 530px;
    left: 50px;
}

.banana{
    width: 160px;
    height: 160px;
    position: absolute;
    top: 470px;
    left: 680px;
}
.bottle{
    width: 130px;
    height: 240px;
    position: absolute;
    top: 380px;
    left: 600px;
    z-index: 1;
}
.cheese{
    width: 100px;
    height: 90px;
    position: absolute;
    top: 550px;
    left: 800px;
} 
.pen{
    width: 60px;
    height: 90px;
    position: absolute;
    top: 670px;
    left: 600px;
   
}
.cat{
    width: 380px;
    height: 380px;
    position: absolute;
    top: 400px;
    left: 230px;
    z-index: 4;
}




