@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans&display=swap');

body{
    background:#3e3b4a;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;   
}

.wrapper{
    max-width: 1020px;
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
}

.icon-burger{
    display: inline-flex;
    width: 30px;
    height: 30px;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20px;
}

.name{
    color: #f0c1b3;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
}

.text-name,
.menu,
.logo,
.search-name,
.copytight{
    padding: 35px 0;
    color: #898691;
    font-style:bold;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
}

.logo-abr{
    color:white;
    font-size: 40px;
    font-weight:700;
}
.logo-text{
    font-size: 12px;
    font-weight: 400;
}

.search-name,
.text-name{
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
}

.img{
    padding: 10px;
}

.search{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.icon-burger span{
    background:#898691;
    height: 5px;
}
.menu-link{
    display: inline-flex;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-between;
}

.text-box1{
    margin: 0;
    font-size: 72px;
    font-weight: 700;
    color:white;
    line-height: 76px;
}
.text-box2{
    margin: 0;
    font-size: 36px;
    font-weight: 400;
    color:white;
    line-height: 40px;
}
.text-box3{
    margin: 0;
    font-size: 48px;
    font-weight: 600;
    color:white;

}

.text-box4{
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    color:white;
}

.text-box5,
.text-box6{
    margin: 0;
    font-size: 36px;
    font-weight: 600;
    color:white;
    font-style:bold;

}

.text-box7{
    margin: 0;
    font-size: 20px;
    font-weight: 100;
    color:white;
}
.text-box8{
    margin: 0;
    font-size: 48px;
    font-weight: 100;
    color:white;
}
.text-box9{
    margin: 0;
    font-size: 14px;
    font-weight: 100;
    color:#fbe6e1;
    font-family: 'Open Sans', sans-serif;
}
.text-box10{
    margin: 0;
    font-size: 24px;
    font-weight: 100;
    color:white;
 

}

.content-item1{
    height: 430px;
    background: url(lemps.png) no-repeat;
    padding:40px 0 40px 40px;
    margin: 0 0 20px 0;
    display: flex;
    flex-direction:column;
    flex-basis: 100%;
}

.content-item2{
    height: 405px;
    background:#71b6c3 url(headphones.png) no-repeat right top;
    padding:  40px 0 40px 40px;
    margin: 0 0px 20px 0; 
    display: flex;
    flex-direction: column;
    flex-basis: 57%;
}

.content-item3{
    font-family:'Times New Roman';
    width: 298px;
    height: 404px;
    background: #eb7b61;
    display:flex;
    flex-direction:column;
    align-items:  center;
    justify-content:space-between;
    text-align: center;
    padding: 40px;
    flex-basis: 29.5%;
}

.content-item4{
    height: 340px;
    background: url(black\ cam.png) no-repeat;
    padding: 40px;
    display:flex;
    flex-direction:column;
    align-items: center;
    flex-basis: 17%;
}

.content-item5{
    height: 340px;
    background: url(Vector_Smart.png) no-repeat;
    margin: 0 0 0 20px;
    padding: 40px;
    display:flex;
    flex-direction:column;
    align-items:  center;
    justify-content:space-between;
    flex-basis: 17%;
    text-align: center;
}

.content-item6{
    height: 340px;
    background: #1ab467 url(Vector_Smart_Object222.png) no-repeat right bottom;
    padding: 40px;
    display: flex;
    flex-direction:column;
    flex-basis: 38%;
    justify-content:space-between;
}

.button{
    background: transparent;
    text-align: center;
    border: 3px solid #ffe18f;
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    width: 126px;
    padding: 5px 0;
    margin-top: auto ;
 
}
.button2{
    background: #ffe18e;
    text-align: center;
    border: 3px solid #ffe18f;
    color: #6e655b;
    font-size: 20px;
    font-weight: 900;
    padding: 5px 0;
    width: 94px;
    margin-top: auto;
   
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    justify-content:space-between;
}

.facebook,
.search{
    padding: 50px 10px;
}
input{
    width: 285px;
    height:42px ;
    text-align: center;
    border: 3px solid #ffd9d1;
    background: transparent;
    color: #ffd9d1;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.blue{
    background: #66689c;
    border: 3px solid #66689c;
}